node_modules/
dist/

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# # Local environment files
# .env
# .env.*
# !.env.example

.vite/
coverage/
*.tsbuildinfo
src/popup/cv/cv-templates/CVTemplate1.tsx
